<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <!-- bootstrap样式 -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
{{{body}}}

<!-- jQuery 和 bootstrap -->
<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>